<p>
<div>
    <label for="name">Char</label>
    <input type="text" id="f_name" required maxlength="16">
    <label for="action">Action</label>
    <input type="text" id="f_action" list="actionlist" maxlength="16">
    <datalist id="actionlist">
        <option>Attack</option>
        <option>Defend</option>
        <option>Dodge</option>
    </datalist>
</div>
<div style="text-align: right">
    <label for="i_highlight_own_rolls">Highlight own rolls:</label>
    <input type="checkbox" id="i_highlight_own_rolls" value="1" checked="true">
</div>
</p>