<div class="cookie_consent hidden">
    <h2>Cookies</h2>
    <p>
        In order to distinguish your dice rolls (and rooms)
        from the dice rolls (and rooms) of other people,
        this site uses cookies. 
    </p>
    <p>
        Cookies are only used for purposes that are essential for the
        functioning of this diceroller.
    </p>
    <br>
    <p>
        Do you consent to the use of essential cookies?
    </p>
    <form id="f_cookie_consent">
        <label for="i_cookie_consent">I consent</label>
        <input type="checkbox" id="i_cookie_consent">
        <button type="submit" id="b_cookie_consent" disabled>OK</button>
    </form>
</div>