<div class="header"></div>
    <div class="header_1" id="c_header_1">
      <h1 id="title_tag">{{ .title }}</h1>
    </div>
    <div class="header_2" id="c_header_2">
      <form id="f_setting">
      Change the name or color of this room: &nbsp;&nbsp;
      
        <label for="f_setting_name"><small><i>New name:</i></small></label>
        <input id="f_setting_name" type="text">
        &nbsp;
        <label for="f_setting_color"><small><i>New color:</i></small></label>
        <select name="f_setting_color" id="f_setting_color">

          <option value="-">-</option>
          <option value="#BB29BB">purple</option>
          <option value="#E0B0FF">mauve</option>
          <option value="#483C32">taupe</option>
          <option value="#006E33">green</option>
          <option value="#06038D">blue</option>
          <option value="#f7ea48">yellow</option>
          <option value="#E10600">red</option>
          <option value="#4A0000">oxblood</option>
        </select>
        &nbsp;
        <input type="submit" value="OK">
      </form>
      <p>Share this link with your group: <a href="" id="a_link"></a></p>
    </div>
