<div class="roll_form_radio" id="mod_radio">
    <button type="button" value="-5" id="mod_radio_m5" name="mod_radio_button" class="b_radio">
        -5
    </button>
    <button type="button" value="-4" id="mod_radio_m4" name="mod_radio_button" class="b_radio">
        -4
    </button>
    <button type="button" value="-3" id="mod_radio_m3" name="mod_radio_button" class="b_radio">
        -3
    </button>
    <button type="button" value="-2" id="mod_radio_m2" name="mod_radio_button" class="b_radio">
        -2
    </button>
    <button type="button" value="-1" id="mod_radio_m1" name="mod_radio_button" class="b_radio">
        -1
    </button>
    <button type="button" value="0" id="mod_radio_0" name="mod_radio_button" class="b_radio r1 r_selected">
        0 
    </button>
    <button type="button" value="1" id="mod_radio_1" name="mod_radio_button" class="b_radio">
        1
    </button>
    <button type="button" value="2" id="mod_radio_2" name="mod_radio_button" class="b_radio">
        2
    </button>
    <button type="button" value="3" id="mod_radio_3" name="mod_radio_button" class="b_radio">
        3 
    </button>
    <button type="button" value="4" id="mod_radio_4" name="mod_radio_button" class="b_radio">
        4
    </button>
    <button type="button" value="5" id="mod_radio_5" name="mod_radio_button" class="b_radio">
        5
    </button>
</div>