<div class="roll_form_radio" id="radio_{{ . }}"> 
    <button type="button" value="0" id="{{ . }}_0" name="{{ . }}" class="b_radio r1 r_selected">
        0
    </button>
    <button type="button" value="1" id="{{ . }}_1" name="{{ . }}" class="b_radio">
        1
    </button>
    <button type="button" value="2" id="{{ . }}_2" name="{{ . }}" class="b_radio">
        2
    </button>
    <button type="button" value="3" id="{{ . }}_3" name="{{ . }}" class="b_radio">
        3
    </button>
    <button type="button" value="4" id="{{ . }}_4" name="{{ . }}" class="b_radio">
        4
    </button>
</div>