<div class="roll_form_radio" id="radio_{{ . }}">
    <label at="{{ . }}_0" >0</label>
    <input type="radio" value="0" id="{{ . }}_0" name="{{ . }}" class="i_radio r1">
    <label at="{{ . }}_1" >1</label>
    <input type="radio" value="1" id="{{ . }}_1" name="{{ . }}" class="i_radio">
    <label at="{{ . }}_2" >2</label>
    <input type="radio" value="2" id="{{ . }}_2" name="{{ . }}" class="i_radio">
    <label at="{{ . }}_3" >3</label>
    <input type="radio" value="3" id="{{ . }}_3" name="{{ . }}" class="i_radio">
    <label at="{{ . }}_4" >4</label>
    <input type="radio" value="4" id="{{ . }}_4" name="{{ . }}" class="i_radio">
    <label at="{{ . }}_5">5</label>
    <input type="radio" value="5" id="{{ . }}_4" name="{{ . }}" class="i_radio">
</div>