<div class="d_rooms">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>System</th>
            <th>Name</th>
            <th>Created</th>
            <th>Last Roll</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr name="row_{{ .Id }}">
            <td><button class="room_id_button" value="{{ .Id }}">{{ .Id }}</button></td>
            <td>{{ .GameStr }}</td>
            <td>{{ .Name }}</td>
            <td class="date_col">{{ .Created }}</td>
            <td class="date_col">{{ .LastActivity }}</td>
            <td><button class="delete_room_button" value="{{ .Id }}">Delete</button></td>
        </tr>
        {{ end }}
    </tbody>
</table>
</div>