<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "0_head_stuff.html" . }}
   <script src="/js/coc.js" type="module"></script>
</head>

<body>
  <div class="grid-container">
  {{ template "0_header.html" . }}
    <div class="roll_form">
      <form id="f_roll">
        {{ template "0_char_and_action.html" }}
       <p>
        <div class="roll_form_radio" id="radio_coc">
        <table class="t_selection">
          <tbody>
            <tr>
              <td colspan="2">
                <button type="button" value="0" id="mod_0" name="mod" class="b_radio b_radio_coc_0 r1 r_selected">
                  roll a d100
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <button type="button" value="1" id="mod_+1" name="mod" class="b_radio b_radio_coc">
                  with 1 bonus die
                </button>
                <button type="button" value="2" id="mod_+2" name="mod" class="b_radio b_radio_coc">
                  with 2 bonus dice
                </button>
              </td>
              <td>
                <button type="button" value="-1" id="mod_-1" name="mod" class="b_radio b_radio_coc">
                  with 1 penalty die
                </button>
                <button type="button" value="-2" id="mod_-2" name="mod" class="b_radio b_radio_coc">
                  with 2 penalty dice
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        </p>
        {{ template "0_roll_form_buttons.html" }}
        {{ template "0_action_buttons.html" .actions }}
      </form>
    </div>

    {{ template "0_roll_results.html" }}
    {{ template "0_footer.html" }}
    {{ template "0_cookie_consent.html" }}
    {{ template "0_all_dice.html" . }}
    </div>
</body>

</html>