<!DOCTYPE html>
<html lang="en">

<head>
 <script>
    var roomId = "{{ .room_id }}"
    var isOwner = "{{ .is_owner }}"
    var color = "{{ .color }}"
    sessionStorage.setItem("room_id", roomId)
    sessionStorage.setItem("is_owner", isOwner)
    sessionStorage.setItem("color", color)
  </script>
  <script src="/js/coc.js" type="module"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ .title }}</title>
</head>

<body>
  <div class="grid-container">
  <div class="header"></div>
   <div class="header_1" id="c_header_1">
      <h1 id="title_tag">{{ .title }}</h1>
    </div>
    <div class="header_2" id="c_header_2">
      <p><form id="f_setting">
      Change the name or color of this room: &nbsp;&nbsp;
      
        <label for="f_setting_name"><small><i>New name:</i></small></label>
        <input id="f_setting_name" type="text">
        &nbsp;
        <label for="f_setting_color"><small><i>New color:</i></small></label>
        <select name="f_setting_color" id="f_setting_color"></select>
        &nbsp;
        <input type="submit" value="OK">
      </form>
      </p>
      <p>Share this link with your group: <a href="" id="a_link"></a></p>
    </div>
    <div class="roll_form">
      <form id="f_roll">
        <p>
          <label for="name">Char</label>
          <input type="text" id="f_name">
          <label for="action">Action</label>
          <input type="text" id="f_action">
        </p>
        <p>
        <table class="t_selection">
          <thead>
            <tr>
              <th>Standard</th>
              <th>Advantage</th>
              <th>Disadvantage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="mod+0">0</label>
                <input type="radio" name="mod" id="mod+0" value="0">

              </td>
              <td>
                <label for="mod+1">1</label>
                <input type="radio" name="mod" id="mod+1" value="1">
                <label for="mod+2">2</label>
                <input type="radio" name="mod" id="mod" value="2">
              </td>
              <td>
                <label for="mod-1">-1</label>
                <input type="radio" name="mod" id="mod-2" value="-1">
                <label for="mod-2">-2</label>
                <input type="radio" name="mod" id="mod-2" value="-2">

              </td>
            </tr>
          </tbody>
        </table>
        </p>
        <p>
          <input type="submit" value="Roll">
        </p>
      </form>
    </div>

    <div class="roll_result">
      <div class="result_table">
        <table class="t_result">
          <thead>
            <tr>
              <th>#</th>
              <th>Time</th>
              <th>Char</th>
              <th>Action</th>
              <th>Roll</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody id="tbody_rolls"></tbody>
        </table>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</body>

</html>