<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "0_head_stuff.html" . }}
  <script src="/js/general.js" type="module"></script>
</head>

<body>
  <div class="grid-container">
    {{ template "0_header.html" . }}
    <div class="roll_form">
      <form id="f_roll">
        {{ template "0_char_and_action.html" .actions }}
        <table>
          <tbody>
            <tr>
              <td>{{ template "0_dd_number.html" .d20 }}</td>
              <td>{{ template "0_radio_0_4.html" "s_d20" }}</td>
              <td>{{ template "0_dd_number.html" .d8 }}</td>
              <td>{{ template "0_radio_0_4.html" "s_d8"}}</td>

            </tr>
            <tr>
              <td>{{ template "0_dd_number.html" .d12 }}</td>
              <td>{{ template "0_radio_0_4.html" "s_d12" }}</td>
              <td>{{ template "0_dd_number.html" .d6 }}</td>
              <td>{{ template "0_radio_0_4.html" "s_d6"}}</td>
            </tr>
            <tr>
              <td>{{ template "0_dd_number.html" .d10 }}</td>
              <td>{{ template "0_radio_0_4.html" "s_d10" }}</td>
              <td>{{ template "0_dd_number.html" .d4 }}</td>
              <td>{{ template "0_radio_0_4.html" "s_d4" }}</td>
            </tr>
          </tbody>
        </table>
        <p>
        <div class="roll_form_buttons">
          <button type="submit">Roll</button>
          <button type="button" id="b_reset">Reset</button>
          </div>
        </p>
      </form>
    </div>
    {{ template "0_roll_results.html" .result_cols }}
    {{ template "0_footer.html" }}
    {{ template "0_cookie_consent.html" }}
  </div>
</body>

</html>