<!DOCTYPE html>
<html lang="en">

<head>
  <script src="js/home.js" type="module"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ .title }}</title>
</head>
<div class="grid-container">
  <div class="header"></div>
  <div class="header_1">
    <h1>{{ .title }}</h1>
  </div>
  <div class="header_2">
   <button id="b_rooms" class="button_header">View existing rooms</button> 
  </div>
  <div class="main">
    <div class="d_room-selection-buttons">
      <p>
        <em>Rooms to roll dice in</em> is an online dice roller,
        which allows you to share your dice rolls with a group of people.
        
        It is intended to be used for tabeletop role-playing games like
        <em>Call of Cthulhu</em> or <em>Dungeons and Dragons</em>.
      </p> 
      <hr>
      <div class="create_room">
      <h2>Create a Room - no account needed</h2>
      <p>
        Simply click on one of the buttons below to create a new room.
        There is no need to create an account.
      </p>
     
      <h3>General dice roller for TTRPGs</h3>
      <p>
        <button class="b_room-selection" value="General">Dice Roller</button>
      </p>
      <h3>System specific dice rollers:</h3>
        <button class="b_room-selection" value="CoC">Call of Cthulhu</button>
        <button class="b_room-selection" value="RezTech">RezTech</button>
      </p>
      </div> 
      
      <hr>

      <h2>How does it work?</h2>
      <ul>
        <li>
          Once you have created a room you can change the name and color
          of that room.
        </li>
        
        <li>
          In order to share a room with other people you only need to
          send the <em>URL</em> of your room with them.
        </li>

        <li>
          <em>Dice to roll dice in</em> remembers you by setting a cookie.
          If you want to change the name or color of a room,
          which you have created, you need to visit the room
          with the same browser (and device).
        </li>
        
        <li>
          Rooms are automatically deleted, if there is no activity for
          a week.
        </li>
        <li>
          As long as you are using the same browser 
          and did not delete your cookies you can list your rooms 
          using the button <em>View existing rooms</em> on the top right.
          There you also have the option to delete rooms,
          that were created by you.
        </li>
      </ul>

      <h2>About <em>Rooms to roll dice in</em></h2>

           
      <p>
        This diceroller is a work in progress. 
        If you encounter issues you can report them
        <a href="https://github.com/jjssto/diceroller/issues">here</a>.
      </p>
    </div>
  </div>
  {{ template "0_cookie_consent.html"}}
  {{ template "0_footer.html" }}
</div>

</html>