<html>

<head>
  <script src="js/home.js" type="module"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ .title }}</title>
</head>
<div class="container">
  <c_header>
    <h1>{{ .title }}</h1>
  </c_header>
  <c_main>
    <div class="d_room-selection-buttons">
      <h2>Create a Room</h2>
      <p>
        In order to get a room in which you can roll dice together with your roll
        playing group, just click on one of the buttons.
        You will then be rdirected to your newly created room.
        Just share the URL of that room with your group.
      </p>
      <p>
        Rooms are automatically deleted if there is no activity for four hours.
      </p>

      <p>
        <button class="b_room-selection" value="General">General Dice Roller</button>
        <button class="b_room-selection" value="CoC">Call of Cthulhu</button>
        <button class="b_room-selection" value="RezTech">RezTech</button>
      </p>
    </div>
    </c_main>
</div>

</html>