<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "0_head_stuff.html" . }}
  <script src="/js/reztech.js" type="module"></script>
</head>

<body>
  <div class="grid-container">

    {{ template "0_header.html" . }}

    <div class="roll_form" id="c_roll_form">
      <form id="f_roll">
        {{ template "0_char_and_action.html" .actions }}
        <p>
        <table>
          <thead>
            <tr>
              <th>
               {{ template "0_dd_number.html" .attr_opt }}
              </th>
              <th>
               {{ template "0_dd_number.html" .skill_opt }}
              </th>
            </tr>
          </thead>
          <tbody>
                        <tr>
              <td>
                {{ template "0_radio_0_5.html" "s_attribute" }}
              </td>
              <td>
                {{ template "0_radio_0_5.html" "s_skill" }}
              </td>
            </tr>
          </tbody>

        </table>
        <p>
        <div class="roll_form_buttons">
          <button type="submit">Roll</button>
          <button type="submit" id="b_reset">Reset</button>
          <label for="i_attribute_only">Attribute only:</label>
          <input type="checkbox" id="i_attribute_only" value="1">
        </div>
        </p>
      </form>
    </div>
    {{ template "0_roll_results.html" .result_cols }}
    {{ template "0_footer.html" }}
  </div>
</body>

</html>