<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "0_head_stuff.html" . }}
  <script src="/js/reztech.js" type="module"></script>
</head>

<body>
  <div class="grid-container">

    {{ template "0_header.html" . }}

    <div class="roll_form" id="c_roll_form">
      <form id="f_roll">
        {{ template "0_char_and_action.html" }}
        <p>
        <table>
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input id="s_attribute" type="number" min="0" max="10">
              </td>
              <td>
                <input id="s_skill" type="number" min="0" max="10">
              </td>
            </tr>
            <tr>
              <td>
                <p>
                <div class="roll_form_radio">
                  <label at="at0">0</label>
                  <input type="radio" value="0" id="at0" name="at">
                  <label at="at1">1</label>
                  <input type="radio" value="1" id="at1" name="at">
                  <label at="at2">2</label>
                  <input type="radio" value="2" id="at2" name="at">
                  <label at="at3">3</label>
                  <input type="radio" value="3" id="at3" name="at">
                  <label at="at4">4</label>
                  <input type="radio" value="4" id="at4" name="at">
                  <label at="at5">5</label>
                  <input type="radio" value="5" id="at5" name="at">
                </div>
                </p>
              </td>
              <td>
                <p>
                <div class="roll_form_radio">
                  <label sk="sk0">0</label>
                  <input type="radio" value="0" id="sk0" name="sk">
                  <label sk="sk1">1</label>
                  <input type="radio" value="1" id="sk1" name="sk">
                  <label sk="sk2">2</label>
                  <input type="radio" value="2" id="sk2" name="sk">
                  <label sk="sk3">3</label>
                  <input type="radio" value="3" id="sk3" name="sk">
                  <label sk="sk4">4</label>
                  <input type="radio" value="4" id="sk4" name="sk">
                  <label sk="sk5">5</label>
                  <input type="radio" value="5" id="sk5" name="sk">
                </div>
                </p>
              </td>
            </tr>
          </tbody>

        </table>
        <p>
          <button type="submit">Roll</button>
          <button type="submit" id="b_reset">Reset</button>
          <label for="i_attribute_only">Attribute only:</label>
          <input type="checkbox" id="i_attribute_only" value="1">

        </p>
      </form>
    </div>
    {{ template "0_roll_results.html" .result_cols }}
    {{ template "0_footer.html" }}
  </div>
</body>

</html>